@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 31% 82.9%;
    --foreground: 240 10% 3.9%; 

    
    /* Primární barva (tmavý kámen) pro pozadí tlačítka */
    --primary: 240 5% 14%; /* Stone 800 - Tmavá */
    /* Text na primární barvě (světlý kámen) pro text tlačítka */
    --primary-foreground: 240 6% 96%; /* Stone 100 - Světlá */

    /* Sekundární barva (světlejší šalvěj) */
    --secondary: 120 7% 84%; /* Sage 200 */
    /* Text na sekundární barvě (tmavá šalvěj) */
    --secondary-foreground: 120 5% 23%; /* Sage 800 */
    
    /* Akcentová barva (střední šalvěj) */
    --accent: 120 9% 56%; /* Sage 400 */
    /* Text na akcentové barvě (světlý kámen) */
    --accent-foreground: 240 6% 96%; /* Stone 100 */
    
    /* Ostatní utility barvy */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --card: 240 10% 99%;
    --card-foreground: 240 10% 3.9%;
    
    --popover: 240 10% 99%;
    --popover-foreground: 240 10% 3.9%;
    
    --border: 240 4% 89%;
    --input: 240 4% 89%;
    
    --ring: 120 9% 56%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    /* barvy pro tmavý režim */
    --background: 240 10% 3.9%;
    --foreground: 240 5% 94%;
    --primary: 240 6% 96%;
    --primary-foreground: 240 5% 14%;
    --secondary: 120 5% 23%;
    --secondary-foreground: 240 6% 96%;
    --accent: 120 9% 56%;
    --accent-foreground: 240 6% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 240 5% 94%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 240 5% 94%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 120 9% 56%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}